<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Epsg" connectionString="Data Source=C:\ProgramData\Digi3D.NET\OpenGis\epsg.sdf"/>
  </connectionStrings>
  <appSettings>
    <add key="OpenGisFiles" value="C:\ProgramData\Digi3D.NET\OpenGis\"/>
  </appSettings>
</configuration>